# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. others

| Data Science Tools |   |   |
| :- | -: | :-: |
| Excel | | 
| Tablue | | 
| Power BI| |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#this a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives

Objectives:
- Python
- Kernels
- R studio
- other

## Author
Veronika Vutova